<!-- body.html -->
{% load static %}<body>
    <!-- header section start  -->
    <header>
       
            <!-- content  -->
            <div class="content flex align-center">
                <!-- left section  -->
                <div class="left flex2">
                    <h4 class="uppercase letter-spacing2">I'm <span>Ankit</span> </h4>
                    <h2 class="my-t-10 uppercase letter-spacing2 f-w-700">Web Designer</h2>
                    <p class="my-t-10">I am a professional Web Designer and <span>Youtuber.</span> </p>
                    <button class="btn btn2 my-t-20">Download CV</button>
                </div>

                <!-- right section  -->
                <div class="right flex3">
                    <img class="size" src="media/ankit.png" alt="girl png">
                    <!-- <div class="color-box"></div>     -->
                </div>
            </div>
        </div>
    </header>        
    <!-- about section start  -->
    <section class="about-me-sec">
        <div class="about-sec layout">
            <h3 class="uppercase pd-t-30 text-center">About Me</h3>
            <hr class="w55 my-t-10">

            <div class="about-content flex justify-center align-center">
                <!-- left side  -->
                <div class="left flex2">
                    <h2 class="uppercase letter-spacing2">Web Desinger</h2>
                    <p class="my-t-10">I am a professional web designer and larner . I have done  projects for my learning . I am a part time freelancer and I do freelancing in part time.</p>

                    <ul>
                        <li><span class="f-w-600">HTML/CSS/JavaScript</span></li>
                    </ul>

                    <button class="btn my-t-20">Hire Me</button>
                </div>
                <!-- right side  -->
                <div class="right flex3">
                    <img src="asset/LOGO1.png" alt="">
                    <hr>

                    <!-- color used  -->
                    <div class="dot-color text-center my-t-10">
                        <h3>color used</h3>
                        <span class="dot dot-w"></span>
                        <span class="dot dot-b"></span>
                        <span class="dot dot-ws"></span>
                        <span class="dot dot-bs"></span>
                        <span class="dot dot-a"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about section end  -->

    <!-- portfolio section start  -->
    <section class="portfolio-sec">
        <div class="portfolio layout">
            <h3 class="uppercase text-center pd-30">Projects</h3>
            <div class="portfolio-parent flex justify-center align-center text-center">
    
                <div class="portfolio-child">
                    <img src="#" alt="">
                    <h3>Django E-commerce App</h3>
                    <p>Dynamic e-commerce site using Django. Features user authentication, product catalog, and responsive design.</p>
                    <button class="btn btn2">Explore More</button>
                </div>
    
                <div class="portfolio-child">
                    <img src="#" alt="">
                    <h3>Python: CRM App</h3>
                    <p>CRM app for efficient customer management with features like contact tracking. </p>
                    <button class="btn btn2">Explore More</button>
                </div>
    
                <div class="portfolio-child">
                    <img src="#" alt="">
                    <h3>SQL: Order Management DB</h3>
                    <p>Created a MySQL database for hotel orders with efficient schema design and complex queries.</p>
                    <button class="btn btn2">Explore More</button>
                </div>
    
                <div class="portfolio-child">
                    <img src="#" alt="">
                    <h3>HTML/CSS: Amazon Clone</h3>
                    <p>Fully responsive Amazon clone with accurate HTML/CSS reproduction and modern design principles.</p>
                    <button class="btn btn2">Explore More</button>
                </div>
            </div>
        </div>
    </section>
    
    <!-- portfolio section end  -->

    <!-- experience section start  -->
    <section class="experience-sec">
        <div class="experience layout">
            <h3 class="uppercase pd-30 text-center">Skills -Tech</h3>
            <div class="experience-details border-bottom flex space-between text-center">
                <div class="col">
                    <h3>Programming Languages:</h3>
                    <p>Python </p>
                    <p> Java</p>
                </div>

                <div class="col">
                    <h3>Web Development:</h3>
                    <p>Django</p>
                    <p>HTML, CSS, JavaScript</p>
                </div>

                <div class="col">
                    <h3>Database Management:</h3>
                    <p>RDBMS </p>
                    <p>MySQL</p>
                </div>
                <div class="col">
                    <h3>Version Control:</h3>
                    <p>GitHub</p>
                </div>

            </div>
        </div>
    </section><section class="experience-sec">
        <div class="experience layout">
            <h3 class="uppercase pd-30 text-center">Skills - Non-Tech</h3>
            <div class="experience-details   flex space-between text-center">
                <div class="col">
                    <h3>Communication Skills:</h3>
                    <p>Effective communication of<br> technical concepts to diverse audiences.</p>
                </div>
    
                <div class="col">
                    <h3>Problem Solving:</h3>
                    <p>Ability to solve complex problems<br> and challenges.</p>
                </div>
    
                <div class="col">
                    <h3>Adaptability:</h3>
                    <p>Quick adaptability to new<br> technologies and methodologies.</p>
                </div>
                
                
                
            </div>
           
        </div>
    </section>
    <section class="experience-sec">
        <div >
            <h3 class="uppercase  text-center"></h3>
            <div class=" border-bottom experience-details-1 flex space-between text-center">
                <div class="col">
                    <h3>Project Management:</h3>
                    <p>Familiar with tools like Jira, <br>ensuring timely delivery and meeting project goals. </p>
                    
                </div>

                <div class="col">
                    <h3>Learning Agility:</h3>
                    <p>Quick learner, evidenced by the ability <br>to pick up new languages and frameworks </p>
                    
                </div>
            </div>
        </div>

    </section>
    
    <!-- experience section end  -->

    <!-- testimonal section start  -->
    <section class="testimonial-sec">
        <div class="testimonial layout">
            <h3 class="uppercase text-center pd-30">Testimonial</h3>
            <div class="testimonial-parent flex space-between align-center">
                <div class="testimonial-child">
                    <img src="#" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In sapiente esse, placeat quaerat expedita modi.</p>
                    <div class="review-sec flex space-between">
                        <div class="icon-sec">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div class="name-sec text-center">
                            <h4>Danise Janson</h4>
                            <p class="designation">Senior Developer</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial-child">
                    <img src="#" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In sapiente esse, placeat quaerat expedita modi.</p>
                    <div class="review-sec flex space-between">
                        <div class="icon-sec">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="name-sec text-center">
                            <h4>Lauren Scott</h4>
                            <p class="designation">Managing Director</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial-child">
                    <img src="#" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In sapiente esse, placeat quaerat expedita modi.</p>
                    <div class="review-sec flex space-between">
                        <div class="icon-sec">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="name-sec text-center">
                            <h4>Nicole Fusaro</h4>
                            <p class="designation">HR Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonal section end -->

</body>

